<div class="row">
    <div class="col-md-4">
      <h2>Mon perroquet</h2>
      <p>Je ne voudrais pas rentrer dans des choses trop dimensionnelles, mais, si vraiment tu veux te rappeler des souvenirs de ton perroquet, là, j'ai un chien en ce moment à côté de moi et je le caresse, et c'est une sensation réelle qui se produit si on veut ! Ça respire le meuble de Provence, hein ? </p>
      <p><a class="btn btn-secondary" href="#" role="button">En savoir plus &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Propre moi-même</h2>
      <p>Oui alors écoute moi, même si on frime comme on appelle ça en France... c'est un très, très gros travail et c'est très, très beau d'avoir son propre moi-même ! Et là, vraiment, j'essaie de tout coeur de donner la plus belle réponse de la terre ! </p>
      <p><a class="btn btn-secondary" href="#" role="button">En savoir plus &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Aware</h2>
      <p>Ah non attention, ce n'est pas un simple sport car il faut toute la splendeur du aware parce que spirituellement, on est tous ensemble, ok ? Donc on n'est jamais seul spirituellement ! </p>
      <p><a class="btn btn-secondary" href="#" role="button">En savoir plus &raquo;</a></p>
    </div>
  </div>